@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align ="center">
    <h1>Silver Star</h1>
    <p class="lead">Place your order and we will text you when ready for pickup.</p>
</div>

<div class="row" align ="center">
    
    <div class="col-md-4">
        <h2>Bartenders</h2>
        <p>Please review the order queue to fill our patrons orders as expeditiously as possible!</p>
    </div> 
    
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            There are many popular drinks available on demand. Our bartenders will be happy to customize a drink for you as well.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/search?source=hp&q=list+of+cocktail" target="_blank">More Info &raquo;</a></p>
    </div> 

    <div class="col-md-4">
        <h2>Orders</h2>
        <p>To place an order please select the orders tab.</p>
    </div>
</div>